{% extends 'default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Home page</h1>
        <p class="lead">Hello! this is a new framework!</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
    </div>

{% endblock %}